#!/bin/sh

set -e

{% for hostname in metrics_hostnames %}
ceph config-key set mgr/cephadm/{{ hostname }}/grafana_key -i /opt/ceph/tls/server.key
ceph config-key set mgr/cephadm/{{ hostname }}/grafana_crt -i /opt/ceph/tls/server.crt
{% endfor %}
ceph orch apply -i /opt/ceph_services.yml

if [ ! -z "$(ceph orch ls | grep grafana | { grep -v grep || test $? = 1; })" ] && [ -z "$(ceph orch ls | grep grafana | grep "0/" | { grep -v grep || test $? = 1; })" ]; then
  ceph orch reconfig grafana
fi

{% if redeploy_metrics_services is defined and redeploy_metrics_services == true -%}
ceph orch redeploy grafana
ceph orch redeploy prometheus
{% endif %}