#!/bin/sh

set -e

{% for user in rgw_users %}
if [ -z "$(radosgw-admin user list | grep '{{ user.tenant }}${{ user.name }}' | { grep -v grep || test $? = 1; })" ]; then
  radosgw-admin user create --tenant={{ user.tenant }} --uid={{ user.name }} --display-name="{{ user.display_name }}" --email={{ user.email }}
fi
{% endfor %}