#!/bin/sh

set -e

#Deploy gateways
ceph orch apply -i /opt/rgw_services.yml

while [ -z "$(ceph orch ls | grep rgw.default | { grep -v grep || test $? = 1; })" ]; do
  sleep 10
done

while [ ! -z "$(ceph orch ls | grep rgw.default | grep "0/" | { grep -v grep || test $? = 1; })" ]; do
  sleep 10
done

ceph osd pool set .rgw.root crush_rule {{ rgw_system_crush_rule }}

{% if default_compression_algorithm is defined and default_compression_algorithm|length %}
radosgw-admin zone placement modify \
      --rgw-zonegroup default \
      --rgw-zone default \
      --placement-id default-placement \
      --storage-class STANDARD \
      --compression {{ default_compression_algorithm }}
{% endif %}

#In case ingress certs changed
CRT_CHECKSUM=$(sha256sum /opt/ceph/tls/server.crt)
KEY_CHECKSUM=$(sha256sum /opt/ceph/tls/server.key)

if [ ! -f /opt/ceph/tls/server.crt.ingress.rgw.default.sha256sum ]; then
  printf "$CRT_CHECKSUM" > /opt/ceph/tls/server.crt.ingress.rgw.default.sha256sum
  printf "$KEY_CHECKSUM" > /opt/ceph/tls/server.key.ingress.rgw.default.sha256sum
else
  if [ "$CRT_CHECKSUM" != "$(cat /opt/ceph/tls/server.crt.ingress.rgw.default.sha256sum)" ] || [ "$KEY_CHECKSUM" != "$(cat /opt/ceph/tls/server.key.ingress.rgw.default.sha256sum)" ]; then
    printf "$CRT_CHECKSUM" > /opt/ceph/tls/server.crt.ingress.rgw.default.sha256sum
    printf "$KEY_CHECKSUM" > /opt/ceph/tls/server.key.ingress.rgw.default.sha256sum
    ceph orch redeploy ingress.rgw.default
  fi
fi