#!/bin/sh

exec uv run \
    --active \
    --with jupyter -- jupyter notebook \
    --port {{ notebook.main_port }} \
    --allow-root \
{% if notebook.tls is defined and notebook.tls.server_cert is defined and notebook.tls.server_key is defined %}
    --certfile "/etc/notebook/tls/server.crt" \
    --keyfile "/etc/notebook/tls/server.key" \
{% endif %}
    --ip 0.0.0.0 \
    --no-browser