[Unit]
Description=Notebook Service
After=containerd.service
Requires=containerd.service

[Service]
Type=simple
{% if notebook.jupyter_token is defined %}
EnvironmentFile=/etc/notebook/jupyter_token_env
{% endif %}
ExecStartPre=nerdctl rm -f notebook
ExecStart=nerdctl run --rm \
  --device amd.com/gpu=all \
  --name notebook \
  -v /etc/notebook/entrypoint/entrypoint.sh:/usr/local/bin/entrypoint.sh \
{% if notebook.tls is defined and notebook.server_cert is defined and notebook.tls.server_key is defined %}
  -v /etc/notebook/tls:/etc/notebook/tls \
{% endif %}
{% for vol in notebook.mapped_volumes %}
  -v {{ vol.host_dir }}:{{ vol.container_dir }} \
{% endfor %}
  -p 0.0.0.0:{{ notebook.main_port }}:{{ notebook.main_port }} \
{% if notebook.additional_ports is defined %}
  -p 0.0.0.0:{{ notebook.additional_ports }}:{{ notebook.additional_ports }} \
{% endif %}
  -w {{ notebook.mapped_volumes[0].container_dir }} \
  {{ notebook.image_name }} /usr/local/bin/entrypoint.sh
ExecStop=nerdctl stop notebook

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
