{% for host in (groups['all'] | map('extract', hostvars)) %}
---
service_type: host
hostname: {{ host.ansible_nodename }}
addr: {{ host.ansible_host }}
labels:
{% if (groups['mon'] | map('extract', hostvars) | map(attribute='ansible_host')) is contains(host.ansible_host) %}
  - mon
{% endif %}
{% if (groups['mgr'] | map('extract', hostvars) | map(attribute='ansible_host')) is contains(host.ansible_host) %}
  - mgr
{% endif %}
{% if (groups['rgw'] | map('extract', hostvars) | map(attribute='ansible_host')) is contains(host.ansible_host) %}
  - rgw
{% endif %}
{% if (groups['admin'] | map('extract', hostvars) | map(attribute='ansible_host')) is contains(host.ansible_host) %}
  - _admin
{% endif %}
{% if (groups['metrics'] | map('extract', hostvars) | map(attribute='ansible_host')) is contains(host.ansible_host) %}
  - metrics
{% endif %}
{% endfor %}